/* 

Martin Grill Poblete -> Contact Page


*/

html {
  font-family: 'Poppins', Arial, Verdana; /* All 3 of these fonts are from the sans-serif family */
  padding: 0.739em; /* 11.818/16 = 0.739*/
  /* Using this color pallette: http://paletton.com/#uid=12P0u0ksHdg00X4rbrx003bpg7m */
  background-color: white;
  font-size: 1.331em; /* 1.313em @ 16 */
}

#logo {
  text-align: center;
}

nav {
  color: #449BBB;
  flex-direction: row;
  background: #EEE;
  border: solid;
  border-color: black;
}
body {
  /*using 21px @ 1.333 ratio modular scale https://www.modularscale.com/?21&px&1.333*/
  font-size: 1em;/* 1.75em @ 16*/
  padding: 1em;
  line-height: 1.333em; 
}

h1 {
  font-size: 1.777em /* 37.315/21 = 1.777 */;
  padding-bottom: 1em;
  font-weight: bold;
}

h2 {
  font-size: 1.333em;
  background-color: #336699;
  padding: 1em;
  color: white;
}
